body {
    margin: 0;
    font-family:'Helvetica Neue', sans-serif;
    background-color: rgb(233, 233, 233);
    display: flex;
    align-items: center;
    flex-direction: center;
}

.search-bar{
    display: flex;
    position: relative;
    width: 100%;
    margin-bottom: 30px;
    height: 35px;
    align-items: center;
    gap: 5px;
}

.search-bar .search{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 1px solid grey;
    padding: 3px 10px;
    border-radius: 3px;
    box-sizing: border-box;
}

.search-bar input{
    all: unset;
    font-size: 14px;
    width: 100%;
    height: 100%;
}

.search-bar button{
    height: 100%;
    width: 100px;
    min-width: 100px;
    max-width: 100px;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 5px;
    white-space: nowrap;
}

.inventory-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 45px;
    background-color: white;
    margin: 10px;
    min-width: 600px;
    border-radius: 10px;
}
.inventory, .new-item{
    width: 100%;
    display: grid;
    grid-template-columns: 90px 15% 12% 1fr 12% 16% 13%;
    box-sizing: border-box;
    min-width: 600px;
}

.inventory>.header{
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
    margin-bottom: 5px;
}

.header button{
    margin-left: 10px;
}

.inventory .cell,
.new-item .cell {
    position: relative;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    margin-top: -1px;
    margin-left: -1px;
    padding: 5px;
    min-width: 0;
    min-height: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    font-size: 14px;
}

.cell-text{
    position: relative;
    width: 100%;
}

.inventory .id,
.inventory .cat {
    padding: 5px;
    height: 100%;
    word-break: break-all;
    box-sizing: border-box;
}

.inventory input,
.inventory .desc {
    position: relative;
    all: unset;
    display: inline-block;
    padding: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 85%;
}

.inventory .hover,
.new-item .hover {
    position: absolute;
    z-index: 1;
    background: rgb(255, 255, 169);
    padding: 5px;
    border: 1px solid black;
    white-space: pre-wrap;
    max-width: 200px;
    font-size: 12px;
    left: 10px;
    top: calc(100% + 5px);
    overflow-wrap: break-word;
}

.new-item-header {
    display: flex;
    justify-content: center;
    font-size: 14px;
    font-weight: bold;
    padding-top: 45px;
    width: 100%;
}

.new-item{
    padding-top: 15px;
    padding-bottom: 25px;
}

.cell .image {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    cursor: pointer;
}

.new-item input {
    all:unset;
    width: 85%;
    height: 25px;
    padding-left: 5px;
    font-size: 14px;
    text-overflow: ellipsis;
}

.category-dropdown, .filter-dropdown, .sort-dropdown {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 1;
    top: 35px;
    left: 0;
    border: 1px solid grey;
    background-color: white;
    box-shadow: 4px 4px 4px 0px rgba(163, 163, 163, 0.87);
    min-width: 200px;
    width: 100%;
    box-sizing: border-box;
    max-height: 150px;
    overflow-y: auto;
    padding: 5px;
    gap: 5px;
}

.filter-dropdown, .sort-dropdown{
    width: 250px;
    left: auto;
    top: calc(100% + 5px);
    right: 0;
    max-height: 200px;
}

.option{
    padding: 5px 10px;
    box-sizing: border-box;
    word-wrap: break-word;
}

.option:hover{
    background-color: rgb(228, 228, 228);
}

.category-dropdown input{
    min-height: 28px;
    min-width: 100%;
    padding: 5px 10px;
    box-sizing: border-box;
    text-overflow: clip;    
}

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.568);
}

.desc-mod, .cat-mod, .img-mod {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    height: 60%;
    width: 40%;
    box-shadow: 4px 4px 4px 0px rgba(46, 46, 46, 0.651);
    min-width: 300px;
    padding: 30px;
    overflow-y: auto;
}

.modal h1{
    padding-bottom: 10px;
    font-size: 20px;
}
.desc-mod textarea{
    width: 95%;
    height: 70%;
    resize: none;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid grey;
}

.desc-mod .buttons,
.img-mod .buttons{
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 15px;
}

.cat-mod {
    gap: 10px;
    overflow-y: auto;
}  

.cat-mod .cat-item{
    display: flex;
    width: 100%;
    box-sizing: border-box;
    justify-content: space-between;
}

.cat-mod .cat-item:hover{
    background-color: rgb(228, 228, 228);
}

.cat-mod .new {
    margin-top: 10px;
    border: 1px solid grey;
    width: 100%;
    box-sizing: border-box;
    min-height: 35px;
    border-radius: 10px;
}

.img-mod .img-preview{
    height: 50%;
    width: 70%;
    margin-bottom: 50px;
}

.img-mod img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.img-mod input{
    min-height: 30px;
}
